/* nav relate */
body {

    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}


.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav {

    color: #181818;
    font-size: 45px;
    font-weight: 800;
}


nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {

    text-decoration: none;
    color: #474747;
}

.header {
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    /* margin-bottom: 20px; */

}

.banner {
    display: flex;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
    color: #474747;
}

.banne .profile-pic {
    width: 500px;


}

.banner-title {

    font-size: 85px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.about {
    padding: 131px;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-title {
    text-align: center;

    font-size: 35px;

    font-weight: 700;
    color: #181818;
}

.section-description {
    color: #757575);
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
}

.about-info-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-info {

    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 50px;
}

.info-description {

    padding: 0;
    margin: 0;
}

#what-i-do-description {
    padding: 30px 157px;
}

.skill-container {

    display: flex;
    justify-content: center;
}

.description-style {

    /* margin: 150px 33px 30px 33px; */
    color: #757575;

    font-size: 16px;

    font-weight: 400;
    line-height: 28px;
}